span{
    background-color: darkkhaki;
    font-family: monospace;
}
.div_red{
    background-color: darksalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div_red{
    background-color: lightslategrey;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}